In [ ]:
#what is datatype?
#write int with 10 examples?
#write float with 7 examples?
#write complex with 7 examples?
#write boolean with 7 examples?
#write type conversion and give type() function for it?

#what is datatype?
A data type is a classification that specifies which type of value a
variable can hold in programming. It determines the operations that
can be performed on the data and how it is stored in memory.

In [ ]:
#write int with 10 examples?
a = 10
print(a)

b = 5 + 3
print(b)

c = 15-7
print(c)

d = 4 * 3
print(d)

e = 10 // 3
print(e)

f = 10 % 3
print(f)

g = 2 ** 3
print(g)

h = int("123")
print(h)

i = int(3.14)
print(i)

j = int("abc", 16)
print(j)

10
8
8
12
3
1
8
123
3
2748

In [ ]:
#write float with 7 examples?
x = 10.5
y = 5.2 + 3.8
z = 2.5 * 4
a = 10 / 2
b = 3.14 * 2
c = round(7.567, 2)
d = float(7)
e = 9.81
numbers = [1.1, 2.2, 3.3]
print(x,y,z,a,b,c,d,e,numbers)

10.5 9.0 10.0 5.0 6.28 7.57 7.0 9.81 [1.1, 2.2, 3.3]

In [ ]:
#write complex with 7 examples?
a = 2 + 3j
b = (3 + 4j) + (1 + 2j)
c = (2 + 3j) * (1 + 1j)
d = a.real
e = a.imag
f = 4 + 5j
h = (2 + 3j) / (1 + 1j)
print(a,b,c,d,e,f,h)

(2+3j) (4+6j) (-1+5j) 2.0 3.0 (4+5j) (2.5+0.5j)

In [ ]:
#write boolean with 7 examples?
a = True
b = 5 > 3
c = (10 == 10)
d = (10 != 5)
e = True and False #using AND logical operator
f = True or False  #using OR operator
g = not True
h = bool(1)  # Non-zero numbers are True
i = bool("")  # Empty string is False
print(a,b,c,d,e,f)

True True True True False True

#write type conversion and give type() function for it?
Type conversion is the process of converting a variable from one datatype to another.

In [ ]:
#1.Convert int to float
x = 10
y = float(x)
print(y, type(y))

#2.Convert float to int
a = 9.99
b = int(a)
print(b, type(b))

#3.Convert int to complex
x = 7
y = complex(x)
print(y, type(y))

#4.Positive Float to Boolean
x = 3.14
y = bool(x)
print(y, type(y))

10.0 <class 'float'>
9 <class 'int'>
(7+0j) <class 'complex'>
True <class 'bool'>