# Set( ):

*   Unordered Collection â€“ Elements in a set have no specific order.
*   Duplicate values are automatically removed.

*   You can add or remove elements, but individual elements are immutable.
* Represented Using {} and separated by " , ".

In [1]:
a = {1,2,3,4,5,6}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

#We can convert a list into a set using the set() function.

In [2]:
a = set([1,2,3,4,5,6])
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# Duplicates are automatically removed in the set.

In [3]:
a = {1,2,3,4,5,1,2,4,7,8,9}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 7, 8, 9}
<class 'set'>

# Set Methods:
1) add():

Adds an element to the set.

In [4]:
a = {1,2,3,4,5}
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

2) remove( ):

*   Removes the specified element.
*   raises an error if not found.

In [5]:
a = {1,2,3,4,5,6}
a.remove(6)
print(a)

{1, 2, 3, 4, 5}

3) update( ):

used to add multiple elements from another set, list, tuple, or any iterable to an existing set.

In [6]:
a = {1,2,3,4,5}
b = {6,7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

4) clear( ):

Used to remove all elements from a set, making it an empty set.

In [7]:
a.clear()
print(a)

set()

# Set Operators:
1) union( ):


*   The union() method combines two or more sets.
*   Returning a new set with all unique elements.

In [10]:
#union

a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

2)Intersection():


*   Returns a new set containing only the common elements of two or more sets.
*   The result contains only unique elements that exist in all sets.

In [11]:
#Intersection

a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.intersection(b)

{4, 5}

In [12]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a&b

{4, 5}

3) Difference of ('A-B'):


*   
Returns a new set containing elements that are in set A but not in set B.

In [13]:
#A-B
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a-b

{1, 2, 3}

4) Difference of ('B-A'):

Returns a new set containing elements that are in set B but not in set A.

In [14]:
#B-A
a = {1,2,3,4,5}
b = {4,5,6,7,8}
b-a

{6, 7, 8}

5) Symmetric_difference( ):

*   
Returns a new set containing elements that are in either set A or set B, but not in both.
*   You can use the ^ (caret) operator.

*   It returns a new set instead of modifying existing ones.
*   The result contains only unique elements.

In [15]:
#Symmetric_Difference
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
result = a.symmetric_difference(b)
print(result)

{1, 2, 5, 6}

In [16]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a^b

{1, 2, 5, 6}