# Tuple( ):

*   Tuple is simply a pair of values grouped together in a fixed order.
*   It is immutable(we cannot modify,change,update the variable).

In [1]:
a = (1,2.5,"apple")
print(type(a))

<class 'tuple'>

Indexing():

*  Access using square brackets – Use tuple[index] to get an element.
*  Positive Indexing – Access elements from the beginning using 0, 1, 2, ....
*  Negative Indexing – Access elements from the end using -1, -2, -3, ....

In [2]:
a = ("tuple is immutable")
a[1]

'u'

In [5]:
a = ("tuple is immutable")
a[-6]

'u'

Slicing( ):

*   Use [start:end] to extract a portion of a tuple.
*   Slicing creates a new tuple without changing the original.

In [6]:
a = ("tuple is immutable")
a[0:8]

'tuple is'

In [7]:
a = ("tuple is immutable")
a[-7:-1]

'mutabl'

type( ) function :

The type() function returns the data type of a given object.

In [13]:
a = (1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [12]:
a = (1,2.3,"name",True)
print(type(a))

<class 'tuple'>

# Tuple methods:
1) len( ):

*   The len() function returns the number of elements in a tuple.
*   It helps in finding the size of a tuple quickly.

In [15]:
a = ("tuple is immutable")
len(a)

18

In [16]:
a= ("a","b",1,2,"c")
len(a)

5

2) count( ):

The count() function returns the number of times a specific element appears in a tuple.

In [17]:
a = ("tuple is immutable")
a.count("i")

2

In [18]:
a = ("tuple is immutable")
print(a.count("m"))

2


3) index( ):

Searches the tuple for a specified value and returns the position of where it was found.

In [19]:
a = ("tuple is immutable")
print(a.index("m"))

10

In [20]:
a = ("tuple is immutable")
print(a.index("a"))

14