#what is Python?
Python is high-level programming language which is used to built web development,data analysis,automation,recommendation system and gamming system.
It was developed in 1991 by Guido van rossum.

#what are the key features of python?

1.   Easy to learn & understand.
2.   It is easy to connect to database.

*   List item
*   List item


3.   70% to 80% of program is easily understandable.
4.   Way of connection is easy.
5.   High-portable language.

#Why python is different from other programming languages?
1. python is easy to learn and understand from other languages.
2. It has easy connection to database.
3. 70 to 80% of the code can be understandable.
4. The connection to network is very easy and fast.

#what are python's datatypes?
There are two data types;

*  primitive data types:-integer,boolean,float,complex.
*  Non-primitive data types:-list,string,tuple,dictionary,set.

#what is the difference between list and tuple?
1. List():-Collection of elements,values,items.

*   It is described in [].
*   Each element can be separated by ,
*   It is mutable object.
*   List is having ordered values.

2. Tuple():-collection of elements.

*   It is represented in ().
*   It is immutable object.
*   It is having ordered values.

#How do u comment in python?
1. /* ......................................*/

2. """......................................"""

3. #.......

#what is the difference between break,continue and pass?

1. break:-The break statement in Python is used to exit or break out of a loop and move to next line of the code.
2. continue:-continue statement forces to execute the next iteration of the loop while skipping the rest of the code inside the loop for the current iteration .
3. pass:-(no iteration)pass statement it will directly move to the next iteration by skipping the present iteration.

#what is the difference between the is and ==?
1. is:-It is used to identify the object is present in the list or not.
2. ==:-It checks whether the two values are equal or not in the list.

#How do You define a function in python?
Using "def" keyword we can identify the function and if it created once then
we can use it multiple times.

ex:- def user():

In [1]:
#python code to reverse a string?
r="hello world"[::-1]
print(r)

dlrow olleh

In [3]:
#check if a number is even or odd?
e=int(input("enter a number:"))
if e%2==0:
  print("even number")
else:
  print("odd number")

enter a number:4
even number

In [6]:
#check if a string is a palindrome
u=input("enter a string:")
if u==u[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

enter a string:121
palindrome

In [17]:
#calculate the factorial of a number?
a= int(input("Enter a number: "))

f = 1
for i in range(1, a + 1):
    f *= i
print(f"The factorial of {a} is {f}")

Enter a number: 4
The factorial of 4 is 24

In [18]:
#Find the GCD of two numbers?
import math
math.gcd(25,5)

5

In [13]:
#Remove Duplicates from the list?
a=[10,20,30,40,10,20,50]
b=set(a)
print(b)

{40, 10, 50, 20, 30}

In [14]:
#Find the common elements in two lists?
a=[1,2,3,4,5,6,7]
b=[3,4,5,6,7,8,9]
set(a) & set(b)

{3, 4, 5, 6, 7}